body {
  background: #272822;
}

.actionContainer {
  position: fixed;
  top: 0;
  left: 0;
}

.mysqlLog {
  margin-top: 30px;
}

.query {
  margin: 5px auto;
  width: 99%;
  text-align: center;
}

.sql {
  text-align: left;
}

.hljs-keyword {
  color: red;
}
